basePath: /api/v1
host: localhost:8080
info:
  contact:
    name: API Support
  description: 这是一个用户管理的API文档
  title: Key Fob API
  version: "1.0"
paths:
  /example/helloworld:
    get:
      consumes:
      - application/json
      description: do ping
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      tags:
      - example
swagger: "2.0"
